<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.normalizemaps">

    <application
        android:label="NormalizeMaps"
        android:icon="@mipmap/ic_launcher"
        android:exported="true">

        <activity
            android:name=".ShareReceiverActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>
</manifest>
